@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Vesper+Libre:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');


$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 769px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$primary: #621717;
$secondary: rgb(250, 193, 193);
$light: #ffecec;

$navbar-light-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-toggler-focus-width: 0;

$dropdown-link-hover-color: $light;
$dropdown-link-hover-bg: rgb(137, 33, 33);

$offcanvas-bg-color: $light;

$btn-close-color: $primary;
$btn-close-opacity: 1;
$btn-close-focus-shadow: none;

$accordion-icon-color: $primary;
$accordion-icon-active-color: $primary;
$accordion-icon-width: 0.8rem;
$accordion-icon-transform: none;
$accordion-button-active-bg: transparent;
$accordion-button-active-color: $primary;

$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");


html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: rgb(253, 240, 240) !important;
    font-family: 'Vesper Libre', serif !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    font-size: 17px;
}

.cursive {
    font-family: 'Italianno', cursive !important;
}

.semi-cursive {
    font-family: 'Charm', cursive !important;
}

.cursive.big-heading {
    font-size: 7rem !important;
    font-size: calc(4rem + 2.9vw) !important;
}

.btn {
    box-shadow: none !important;
    outline: none !important;
}

.back-to-top-button {
    outline: none !important;
    border: none !important;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 5000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.back-to-top-button.active {
    bottom: 3rem;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

header {
    height: 38rem;
}

header li:hover {
    background-color: rgb(252, 221, 221);
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: $primary;
    font-weight: 700;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: $primary;
    font-weight: 700;
}

.navbar-brand img {
    width: 90px;
    height: 90px;
}

.navbar-brand h5 {
    letter-spacing: 5.9px;
}

.nav-item ul {
    width: 15rem;
}

.social-icons {
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.social-icons:hover{
    color: $secondary !important;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.accordion-button::after {
    margin-left: 10px !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.first-carousel {
    height: 27rem;
    background: url('../images/School-images/0_IMG_20180427_095837\ \(1\).jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.first-carousel-div {
    background-color: rgba($color: #807e7e, $alpha: 0.5);
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.about-us-story,
.vision {
    height: fit-content;
}

.about-us-story-row,
.vision-row {
    height: 100%;
}

.about-us-story-img,
.vision-img {
    width: 100%;
}

.about-us-story-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vision-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.values img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.testimonials-cards {
    width: 350px;
}

.testimonials-cards img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.scrolling-testimonials {
    overflow-x: auto;

    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    overflow: -moz-scrollbars-none !important;
    flex-wrap: nowrap;
}

.scrolling-testimonials::-webkit-scrollbar {
    display: none !important;
}

footer img {
    width: 11rem;
    height: 11rem;
}

footer ul::marker {
    color: $light;
}

@media (max-width: 1200px) {
    .navbar-brand h5 {
        letter-spacing: 5.3px;
    }

    .line {
        width: 3rem;
        margin-top: -1rem;
        background-color: $primary;
        height: 4px;
    }
}

@media (max-width: 1129px) {
    .navbar-brand h5 {
        letter-spacing: 5px;
    }
}

@media (max-width: 992px) {
    .nav-item ul {
        width: 100%;
    }

    .navbar-brand h5 {
        letter-spacing: 4px;
    }
}

@media (max-width: 800px) {
    .navbar-brand h5 {
        letter-spacing: 3px;
    }
}

@media (max-width: 768px) {

    .about-us-story,
    .vision {
        height: 43rem;
    }

    .about-us-story-row,
    .vision-row {
        height: 100%;
    }

    .about-us-story-img,
    .vision-img {
        height: 45%;
        width: 100%;
    }

    .about-us-story-row article,
    .vision-row article {
        height: 55%;
        width: 100%;
    }
}

@media (max-width: 729px) {
    .navbar-brand h5 {
        letter-spacing: 2px;
    }
}

@media (max-width: 576px) {
    .first-carousel {
        height: 28.5rem;
    }

    .about-us-story,
    .vision {
        height: 46rem;
    }

    .about-us-story-row,
    .vision-row {
        height: 100%;
    }

    .about-us-story-img,
    .vision-img {
        height: 40%;
        width: 100%;
    }

    .about-us-story-row article,
    .vision-row article {
        height: 60%;
        width: 100%;
    }
}

@media (max-width: 560px) {
    .navbar-brand img {
        width: 60px;
        height: 60px;
        margin-top: 1rem;
    }

    .navbar-brand h5 {
        letter-spacing: normal;
    }

    .new-container-nav {
        padding: 0.3rem !important;
    }
}

@media (max-width: 410px) {
    .steadfast {
        font-size: 1.5rem !important;
        font-weight: bold;
    }

    .private-school {
        font-size: 1rem;
    }

    .names.align-items-center {
        align-items: start !important;
    }

    .about-us-story,
    .vision {
        height: 58rem;
    }

    .about-us-story-img,
    .vision-img {
        height: 35%;
        width: 100%;
    }

    .about-us-story-row article,
    .vision-row article {
        height: 65%;
        width: 100%;
    }
}

@media (max-width: 300px) {}

@media (min-height: 765px) {}

@media (min-height: 1000px) {}

@media (min-height: 1032px) {}



@import "../node_modules/bootstrap/scss/bootstrap";