@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Vesper+Libre:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 769px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$primary: rgb(98, 23, 23);
$secondary: rgb(250, 193, 193);
$light: rgb(255, 236, 236);

$navbar-light-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-toggler-focus-width: 0;

$dropdown-link-hover-color: $light;
$dropdown-link-hover-bg: rgb(137, 33, 33);

$offcanvas-bg-color: $light;

$btn-close-color: $primary;
$btn-close-opacity: 1;
$btn-close-focus-shadow: none;

$carousel-control-color: rgba(white, 0.9);
$carousel-control-width: 10%;
$carousel-control-opacity: 0.9;
$carousel-control-hover-opacity: 1;
$carousel-control-icon-width: 3rem;

$accordion-icon-color: $primary;
$accordion-icon-active-color: $primary;
$accordion-icon-width: 0.8rem;
$accordion-icon-transform: none;
$accordion-button-active-bg: transparent;
$accordion-button-active-color: $primary;

$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");



html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: rgb(253, 240, 240) !important;
    font-family: 'Vesper Libre', serif !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.cursive {
    font-family: 'Italianno', cursive !important;
}

.semi-cursive {
    font-family: 'Charm', cursive !important;
}

.cursive.big-heading {
    font-size: 9rem !important;
}

.btn {
    box-shadow: none !important;
    outline: none !important;
}

.back-to-top-button {
    outline: none !important;
    border: none !important;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 5000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.back-to-top-button.active {
    bottom: 3rem;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

header {
    height: 51rem;
}

header li:hover {
    background-color: rgb(252, 221, 221);
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: $primary;
    font-weight: 700;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: $primary;
    font-weight: 700;
}

.navbar-brand img {
    width: 90px;
    height: 90px;
}

.navbar-brand h5 {
    letter-spacing: 5.9px;
}

.nav-item ul {
    width: 15rem;
}

.accordion-button::after {
    margin-left: 10px !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.first-carousel {
    height: 40rem;
}

.first-carousel img {
    height: 100%;
    object-fit: cover;
}

.reveal {
    position: relative;
    transform: translateY(90px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.video {
    height: 20rem;
    width: 100%;
}

.video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.event-card {
    overflow: hidden;
}

.card-img-div {
    height: 302px;
    transition: all 0.5s ease-in-out;
    width: 100%;
    overflow: hidden;
}

.card-img-div img {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.card:hover .card-img-div img {
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.main-school-cards {
    height: 300px;
    background: url(../images/miami.jpg);
    background-repeat: no-repeat;
    background-position: cover;

}

.school-cards {
    background-color: rgba($primary, 0.7);
    height: 100%;
    width: 100%;
    padding: 2rem 0;
}

.school-cards .card-body {
    transition: all 0.5s ease-in-out;
    border: 3px solid none;
    width: 95%;
}

.school-cards .card-title {
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.school-cards .card-text-div {
    transition: all 0.5s ease-in-out;
    height: 0ch;
}

.school-cards .card-text-div .card-text {
    transition: all 0.5s ease-in-out;
    text-align: center;
    color: transparent;
    height: 0%;
}

.school-cards:hover .card-body {
    transition: all 0.5s ease-in-out;
    border: 3px solid white;
}

.school-cards:hover .card-title {
    transition: all 0.5s ease-in-out;
}

.school-cards:hover .card-text-div {
    transition: all 0.5s ease-in-out;
    height: 100%;
}

.school-cards:hover .card-text-div .card-text {
    transition: all 0.5s ease-in-out;
    color: white;
    height: 100%;
}

.testimonials-section .row {
    padding-top: 9rem;
}

.testimonials-section .card {
    height: 450px;
    border-radius: 5px 5px 20px 20px;
}

.testimonials-cards img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    margin-top: -7rem;
    border: 7px solid $primary;
}

.line {
    width: 6rem;
    margin-top: -1rem;
    background-color: $secondary;
    height: 4px;
}

footer img {
    width: 11rem;
    height: 11rem;
}

footer ul::marker {
    color: $light;
}

@media (max-width: 1200px) {
    .navbar-brand h5 {
        letter-spacing: 5.3px;
    }

    .testimonials-section .card {
        height: 500px;
        border-radius: 5px 5px 20px 20px;
    }


    .line {
        width: 3rem;
        margin-top: -1rem;
        background-color: $primary;
        height: 4px;
    }
}

@media (max-width: 1129px) {
    .navbar-brand h5 {
        letter-spacing: 5px;
    }
}

@media (max-width: 992px) {
    .nav-item ul {
        width: 100%;
    }

    .navbar-brand h5 {
        letter-spacing: 4px;
    }

    .testimonials-cards img {
        height: 120px;
        width: 120px;
        object-fit: cover;
        margin-top: -5rem;
        border: 5px solid $primary;
    }
}

@media (max-width: 800px) {
    .navbar-brand h5 {
        letter-spacing: 3px;
    }
}

@media (max-width: 768px) {
    .testimonials-section .card {
        margin-bottom: 6rem;
    }

    .testimonials-section .card {
        height: 400px;
        border-radius: 5px 5px 20px 20px;
    }

    .testimonials-cards img {
        height: 120px;
        width: 120px;
        object-fit: cover;
        margin-top: -5rem;
        border: 5px solid $primary;
    }

    .carousel-item img {
        height: 50%;
    }
}

@media (max-width: 729px) {
    .navbar-brand h5 {
        letter-spacing: 2px;
    }
}

@media (max-width: 560px) {
    .navbar-brand img {
        width: 60px;
        height: 60px;
        margin-top: 1rem;
    }

    .navbar-brand h5 {
        letter-spacing: normal;
    }

    .new-container-nav {
        padding: 0.3rem !important;
    }
}

@media (max-width: 410px) {
    .steadfast {
        font-size: 1.5rem !important;
        font-weight: bold;
    }

    .private-school {
        font-size: 1rem;
    }

    .names.align-items-center {
        align-items: start !important;
    }
}

@media (max-width: 300px) {
    .testimonials-section .card {
        height: 450px;
        border-radius: 5px 5px 20px 20px;
    }

}

@media (min-height: 765px) {}

@media (min-height: 1000px) {}

@media (min-height: 1032px) {}





@import "../node_modules/bootstrap/scss/bootstrap";
