$primary: rgb(98, 23, 23);
$secondary: rgb(250, 193, 193);
$light: rgb(255, 236, 236);

$navbar-light-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-toggler-focus-width: 0;

$dropdown-link-hover-color: $light;
$dropdown-link-hover-bg: rgb(137, 33, 33);

$offcanvas-bg-color: $light;

$btn-close-color: $primary;
$btn-close-opacity: 1;
$btn-close-focus-shadow: none;



html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: rgb(253, 248, 248);
}

header {
    height: 51rem;
}

.navbar-brand img {
    width: 90px;
    height: 90px;
}

.navbar-brand h5 {
    letter-spacing: 5.9px;
}

.nav-item ul {
    width: 15rem;
}

.first-carousel {
    height: 40rem;
}

.first-carousel img {
    height: 100%;
    object-fit: cover;
}

.video {
    height: 20rem;
    width: 100%;
}

.video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card img {
    height: 302px;
}

.school-cards {
    background-color: rgba($primary, 0.85);
}

.testimonials-section .row{
    padding-top: 9rem;
}

.testimonials-section .card{
    height: 450px;
    border-radius: 5px 5px 20px 20px;
}

.testimonials-cards img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    margin-top: -7rem;
    border: 7px solid $primary;
}

.line {
    width: 6rem;
    margin-top: -1rem;
    background-color: $primary;
    height: 4px;
}

footer img {
    width: 11rem;
    height: 11rem;
}

footer ul::marker {
    color: $light;
}

@media (max-width: 1200px) {
    .navbar-brand h5 {
        letter-spacing: 5.3px;
    }
}

@media (max-width: 1129px) {
    .navbar-brand h5 {
        letter-spacing: 5px;
    }
}

@media (max-width: 992px) {
    .nav-item ul {
        width: 100%;
    }

    .navbar-brand h5 {
        letter-spacing: 4px;
    }
}

@media (max-width: 800px) {
    .navbar-brand h5 {
        letter-spacing: 3px;
    }
}

@media (max-width: 768px) {
    .testimonials-section .card{
        margin-bottom: 6rem;
    }

    .testimonials-cards img {
        height: 120px;
        width: 120px;
        object-fit: cover;
        margin-top: -5rem;
        border: 5px solid $primary;
    }
}

@media (max-width: 729px) {
    .navbar-brand h5 {
        letter-spacing: 2px;
    }
}

@media (max-width: 560px) {
    .navbar-brand img {
        width: 60px;
        height: 60px;
        margin-top: 1rem;
    }

    .navbar-brand h5 {
        letter-spacing: normal;
    }

    .new-container-nav {
        padding: 0.3rem !important;
    }
}

@media (max-width: 410px) {
    .steadfast {
        font-size: 1.5rem !important;
        font-weight: bold;
    }

    .private-school {
        font-size: 1rem;
    }

    .names.align-items-center {
        align-items: start !important;
    }
}

@media (min-height: 765px) {}

@media (min-height: 1000px) {}

@media (min-height: 1032px) {}





@import "../node_modules/bootstrap/scss/bootstrap";