@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Vesper+Libre:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 769px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$primary: rgb(98, 23, 23);
$secondary: rgb(250, 193, 193);
$light: #ffecec;

$navbar-light-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-toggler-focus-width: 0;

$dropdown-link-hover-color: $light;
$dropdown-link-hover-bg: rgb(137, 33, 33);

$offcanvas-bg-color: $light;

$btn-close-color: $primary;
$btn-close-opacity: 1;
$btn-close-focus-shadow: none;

$accordion-icon-color: $primary;
$accordion-icon-active-color: $primary;
$accordion-icon-width: 0.8rem;
$accordion-icon-transform: none;
$accordion-button-active-bg: transparent;
$accordion-button-active-color: $primary;

$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");


html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: rgb(253, 240, 240) !important;
    font-family: 'Vesper Libre', serif !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.cursive {
    font-family: 'Italianno', cursive !important;
}

.semi-cursive {
    font-family: 'Charm', cursive !important;
}

.cursive.big-heading {
    font-size: 7rem !important;
    font-size: calc(4rem + 2.9vw) !important;
}

.btn {
    box-shadow: none !important;
    outline: none !important;
}

.back-to-top-button {
    outline: none !important;
    border: none !important;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 5000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.back-to-top-button.active {
    bottom: 3rem;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

header {
    height: 38rem;
}

header li:hover {
    background-color: rgb(252, 221, 221);
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: $primary;
    font-weight: 700;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: $primary;
    font-weight: 700;
}

.navbar-brand img {
    width: 90px;
    height: 90px;
}

.navbar-brand h5 {
    letter-spacing: 5.9px;
}

.nav-item ul {
    width: 15rem;
}

.accordion-button::after {
    margin-left: 10px !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.first-carousel {
    height: 27rem;
    background: url('../images/Staffs/IMG_1337.JPG') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.first-carousel-div {
    background-color: rgba($color: #807e7e, $alpha: 0.5);
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.admin {
    padding-bottom: 11rem !important;
}

.administration {
    margin-top: -11rem;
    padding-bottom: 5rem;
}

.administration .admin-col {
    height: 500px !important;
}

.administration img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.main-teachers-section {

}

.teachers-div {

}

.teachers-div .teachers-col {
    height: 400px !important;
    transition: all 0.5s ease-in-out !important;
    overflow: hidden !important;
}

.teachers-col .white-bg {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden !important;
}

.teachers-col img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.teachers-col:hover img {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: blur(2px);
}

.teachers-col .teachers-names {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease-in-out;
}

.teachers-col:hover .teachers-names {
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.teachers-col .teachers-names div {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;

    h5 {
        visibility: hidden;
    }
}

.teachers-col:hover .teachers-names div{
    visibility: visible;
    transition: all 0.5s ease-in-out;

    h5 {
        visibility: visible;
    }
}

footer img {
    width: 11rem;
    height: 11rem;
}

footer ul::marker {
    color: $light;
}

@media (max-width: 1200px) {
    .navbar-brand h5 {
        letter-spacing: 5.3px;
    }

    .administration img {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 1129px) {
    .navbar-brand h5 {
        letter-spacing: 5px;
    }
}

@media (max-width: 992px) {
    .nav-item ul {
        width: 100%;
    }

    .navbar-brand h5 {
        letter-spacing: 4px;
    }

    .administration img {
        height: 240px;
        width: 240px;
    }
}

@media (max-width: 800px) {
    .navbar-brand h5 {
        letter-spacing: 3px;
    }

    .administration img {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 768px) {
    .administration .admin-col:nth-of-type(1) {
        flex-grow: 1;
    }

    .administration .admin-col:nth-of-type(2) {
        flex-grow: 1;
    }
    
    .administration .admin-col:nth-of-type(3) {
        flex-grow: 8;      
        margin-top: -2rem !important;
    }

    .administration img {
        height: 250px;
        width: 250px;
    }
}

@media (max-width: 729px) {
    .navbar-brand h5 {
        letter-spacing: 2px;
    }
}

@media (max-width: 576px) {
    .first-carousel {
        height: 28.5rem;
    }

    .administration .admin-col:nth-of-type(2) {
        margin-top: -2rem !important;
    }
}

@media (max-width: 560px) {
    .navbar-brand img {
        width: 60px;
        height: 60px;
        margin-top: 1rem;
    }

    .navbar-brand h5 {
        letter-spacing: normal;
    }

    .new-container-nav {
        padding: 0.3rem !important;
    }
}

@media (max-width: 410px) {
    .steadfast {
        font-size: 1.5rem !important;
        font-weight: bold;
    }

    .private-school {
        font-size: 1rem;
    }

    .names.align-items-center {
        align-items: start !important;
    }
}

@media (max-width: 300px) {}

@media (min-height: 765px) {}

@media (min-height: 1000px) {}

@media (min-height: 1032px) {}



@import "../node_modules/bootstrap/scss/bootstrap";